<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle_game</title>
    <link rel="stylesheet" href="/puzzlestyle.css">
</head>

<body>
    <nav>
        <div id="title">
            Puzzle
        </div>
        <div id="navbut">
            <div class="navbuttons" id="newgg">
                New Game
            </div>
            <div class="navbuttons">
                Highscores
            </div>
        </div>
    </nav>
    <div id="main">
        <div id="Content">
            
        </div>
        <div id="boxes">
            <div class="image" id="div1">
                <img src="/imagesplits/<%=pic%>1.jpg" alt="1" id="1">
            </div>
            <div class="image" id="div2">
                <img src="/imagesplits/<%=pic%>2.jpg" alt="2" id="2">              
            </div>
            <div class="image" id="div3">
                <img src="/imagesplits/<%=pic%>3.jpg" alt="3" id="3">
            </div>
            <div class="image" id="div4">
                <img src="/imagesplits/<%=pic%>4.jpg" alt="4" id="4">
            </div> 
            <div class="image" id="div5">
                <img src="/imagesplits/<%=pic%>5.jpg" alt="5" id="5">
            </div>
            <div class="image" id="div6">
                <img src="/imagesplits/<%=pic%>6.jpg" alt="6" id="6">
            </div>
            <div class="image" id="div7">
                <img src="/imagesplits/<%=pic%>7.jpg" alt="7" id="7">
            </div>
            <div class="image" id="div8">
                <img src="/imagesplits/<%=pic%>8.jpg" alt="8" id="8">              
            </div>
            <div class="image" id="div9">
                <img src="/imagesplits/<%=pic%>9.jpg" alt="9" id="9">
            </div>
            <div class="image" id="div10">
                <img src="/imagesplits/<%=pic%>10.jpg" alt="10" id="10">
            </div> 
            <div class="image" id="div11">
                <img src="/imagesplits/<%=pic%>11.jpg" alt="11" id="11">
            </div>
            <div class="image" id="div12">
                <img src="/imagesplits/<%=pic%>12.jpg" alt="12" id="12">
            </div>
            <div class="image" id="div13">
                <img src="/imagesplits/<%=pic%>13.jpg" alt="13" id="13">
            </div>
            <div class="image" id="div14">
                <img src="/imagesplits/<%=pic%>14.jpg" alt="14" id="14">              
            </div>
            <div class="image" id="div15">
                <img src="/imagesplits/<%=pic%>15.jpg" alt="15" id="15">
            </div>
            <div class="image" id="div16">
                <img src="/imagesplits/<%=pic%>16.jpg" alt="16" id="16">
            </div>
        </div>
        <div id="startgame">
            <button id="start">Start Game</button>
        </div>
    </div>
</body>
<script src="/puzzlejs.js"></script>

</html>